.MainDiv
{
    border: 2px solid #f4f1f1;
    height: 85%;
    width: 98%;
    margin: 1%;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

  .PinDetailSection
  {
    margin-left: 2%;
    margin-top:1%;
  }
  .searchFlagBtn
  {
    width: 220px !important;
  
  }
  .ActionCls
  {
    width: 100px !important;
  }
  .valDisplayDiv
  {
    float: left;
    height: 60px;
    width: 500px;
    border: 1px solid #dbd7d7;;
    border-radius: 5px;
    margin: 1%;
    float: left;
  }
  .fieldLabel
  {
        font-size: 18px;
        font-weight: 600;
        float: left;
        width: 200px;
        background-color: #eaeaea;
        height: 100%;
        padding: 3%;
        border-radius: 5px;
  }
  .fieldVal
  {
    font-size: 20px;
    margin-top: 2%;
    text-align: center;
  }
  .footerBtnDiv
  {
 
    padding: 1%;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }